<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <%- include('partials/header', { title: 'Products' }) %> <%-
    include('partials/navbar') %>

    <h2>Admin Dashboard</h2>
    <ul>
      <li><a href="/admin/dashboard/sales">Sales Trends</a></li>
      <li><a href="/admin/dashboard/products">Manage Products</a></li>
      <li><a href="/admin/dashboard/orders">View All Orders</a></li>
      <li><a href="/admin/dashboard/users">Manage Users</a></li>
    </ul>
  </body>
</html>
